@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(../fonts/sourcecodepro-light.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../fonts/sourcecodepro-regular.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Code Pro'), local('SourceCodePro-Medium'), url(../fonts/sourcecodepro-medium.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro'), local('SourceCodePro-Semibold'), url(../fonts/sourcecodepro-semibold.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro'), local('SourceCodePro-Bold'), url(../fonts/sourcecodepro-bold.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/sourcesanspro-light.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/sourcesanspro-regular.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro'), local('SourceSansPro-Bold'), url(../fonts/sourcesanspro-bold.woff) format('woff');
}

section {
  background: #EEE;
  color: #434343;
}

h1 {
  font-weight: 300;
}

.backbone {
  border-left: solid 20px #0071B5;
}

.backbone.title {
  background: #0071B5;
  color: #FFF;
  border: none;
}

.ember {
  border-left: solid 20px orange;
}

.ember.title {
  background: orange;
  color: #F6ECE8;
  border: none;
}

.angular {
  border-left: solid 20px #DD1B16;
}

.angular.title {
  background: #DD1B16;
  color: #F2F2F2;
  border: none;
}

li.backbone, li.ember, li.angular {
  padding-left: 0.4em;
}

img {
  background: #FFF;
  padding: 0.4em;
}

ul {
  list-style: none;
}

pre code {
  background: none;
}

#backbone-ember-angular aside {
  font-size: 50%;
  position: absolute;
  right: 1em;
  bottom: 0.4em;
}
