<!DOCTYPE html>
<html>
<head>
  <title>Backbone, Ember et Angular sont dans un bateau... Mix-IT 2013</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="components/normalize-css/normalize.css" />
  <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/libs/tomorrow.min.css" />
  <link rel="stylesheet" href="css/presentation.css" />
  <link rel="stylesheet" href="css/mixit.css" />
</head>

<body>
  <div class="presentation">
    <section id="backbone-ember-angular">
      <h1>Backbone, Ember et Angular sont dans un bateau...</h1>
    </section>
    <section id="loicfrering">
      <h1>Loïc Frering</h1>
      <ul>
        <li><i class="icon-map-marker"></i> Lyon, France</li>
        <li><i class="icon-building"></i>   <a href="http://atosworldline.net" title="Atos Worldline">Atos Worldline</a></li>
        <li><i class="icon-twitter"></i>    <a href="https://twitter.com/loicfrering" title="@loicfrering sur Twitter">@loicfrering</a></li>
        <li><i class="icon-github"></i>     <a href="https://github.com/loicfrering" title="@loicfrering sur GitHub">@loicfrering</a></li>
        <li><i class="icon-envelope"></i>   <a href="mailto:loic.frering@gmail.com" title="loic.frering@gmail.com">loic.frering@gmail.com</a></li>
      </ul>
    </section>
    <section id="intro">
      <h1>Backbone, Ember et Angular sont dans un bateau...</h1>
    </section>
    <section id="tasks">
      <h1>Tasks</h1>
    </section>

    <!-- ID Cards -->
    <section id="backbone" class="backbone title">
      <h1>Backbone</h1>
    </section>
    <section id="backbone-intro" class="backbone title">
      <ul>
        <li><i class="icon-user"></i>     Jeremy Ashkenas</li>
        <li><i class="icon-money"></i>    DocumentCloud</li>
        <li><i class="icon-suitcase"></i> jQuery/Zepto &amp; Underscore.js</li>
        <li><i class="icon-tag"></i>      1.0.0</li>
        <li><i class="icon-calendar"></i> october 2010</li>
        <li><i class="icon-download"></i> 58 kb dev / 6,3 kb prod</li>
        <li><i class="icon-legal"></i>    MIT</li>
      </ul>
    </section>
    <section id="backbone-headline" class="backbone title">
      <h1>Backbone.js gives <strong>structure</strong> to web applications</h1>
    </section>
    <section id="ember" class="ember title">
      <h1>Ember</h1>
    </section>
    <section id="ember-intro" class="ember title">
      <ul>
        <li><i class="icon-user"></i>     Yehuda Katz &amp; Tom Dale</li>
        <li><i class="icon-money"></i>    Tilde Inc.</li>
        <li><i class="icon-suitcase"></i> jQuery &amp; Handlebars</li>
        <li><i class="icon-tag"></i>      1.0.0-rc.3</li>
        <li><i class="icon-calendar"></i> december 2011</li>
        <li><i class="icon-download"></i> 774 kb dev / 51 kb prod</li>
        <li><i class="icon-legal"></i>    MIT</li>
      </ul>
    </section>
    <section id="ember-headline" class="ember title">
      <h1>A framework for creating <strong>ambitious</strong> web applications</h1>
    </section>
    <section id="angular" class="angular title">
      <h1>Angular</h1>
    </section>
    <section id="angular-intro" class="angular title">
      <ul>
        <li><i class="icon-user"></i>     Igor Minár &amp; Vojta Jína</li>
        <li><i class="icon-money"></i>    Google</li>
        <li><i class="icon-suitcase"></i> </li>
        <li><i class="icon-tag"></i>      1.0.6</li>
        <li><i class="icon-calendar"></i> 2009</li>
        <li><i class="icon-download"></i> 479 kb dev / 32 kb prod</li>
        <li><i class="icon-legal"></i>    MIT</li>
      </ul>
    </section>
    <section id="angular-headline" class="angular title">
      <h1><strong>HTML enhanced</strong> for web apps!</h1>
    </section>

    <!-- Object Model -->
    <section id="object-model">
      <h1>Object Model</h1>
    </section>
    <section id="object-model-backbone" class="backbone">
      <h1>Object Model</h1>
      <ul>
        <li>Used internally</li>
        <li>Based on _.extend</li>
        <li>Brings inheritance</li>
      </ul>
    </section>
    <section id="object-model-backbone-code" class="backbone">
<pre><code>var HandlebarsView = <strong>Backbone.View.extend</strong>({
  render: function() {
    if (!_.isFunction(this.template)) {
      this.tmpl = Handlebars.compile(this.tmpl);
    }
    this.$el.html(this.tmpl(this.model||this.collection||{}));
    return this;
  }
});

var TaskView = <strong>HandlebarsView.extend</strong>({
  render: function() {
    console.log('Rendering...');
    <strong>TaskView.__super__.render.apply(this);</strong>
  }
});
</code></pre>
    </section>
    <section id="object-model-ember" class="ember">
      <h1>Object Model</h1>
      <ul>
        <li>Exposed to the user</li>
        <li>Classes &amp; Inheritance</li>
        <li>Reopening classes</li>
        <li>Computed properties</li>
        <li>Observers &amp; Bindings</li>
      </ul>
    </section>
    <section id="object-model-ember-code-1" class="ember">
<pre><code>var Task = <strong>Ember.Object.extend</strong>({
  done: false,
  init: function() {
    this.createdAt = new Date();
  },
  createdSince: function() {
    return moment(this.get('createdAt')).fromNow();
  }<strong>.property('createdAt')</strong>
});

var User = Ember.Object.extend({
  remainingTasks: function() {
    return this.get('tasks').filterProperty('done', false)
                            .get('length');
  }<strong>.property('tasks.@each.done')</strong>
});
</code></pre>
    </section>
    <section id="object-model-ember-code-2" class="ember">
<pre><code class="javascript">var task1 = <strong>Task.create({title: 'Go to Mix-IT'});</strong>
task1<strong>.set('done', true)</strong>;
console.log(task1.get('summary'));

var task2 = Task.create({title: 'Enjoy the party!'});
console.log(task2<strong>.get('summary')</strong>);

var user = User.create();
user.set('tasks', [task1, task2]);
console.log('Remaining tasks: ' + user<strong>.get('remainingTasks')</strong>);
</code></pre>
    </section>
    <section id="services-di-angular" class="angular">
      <h1>Services &amp; Dependency Injection</h1>
      <ul>
        <li>OMG!! Dependency Injection!!!</li>
        <li>Separation of Concerns</li>
        <li>Testability</li>
      </ul>
    </section>
    <section id="services-di-angular-code" class="angular">
<pre><code class="javascript">
module.factory(<strong>'Task'</strong>, ['$resource', function($resource) {
  return $resource('http://localhost\\:3000/tasks/:id', {}, {
    query: {method: 'GET', isArray: false}
  });
}]);

var TasksCtrl = ['$scope', <strong>'Task'</strong>, function($scope, <strong>Task</strong>) {
  Task.query({}, function(response) {
    $scope.tasks = response.tasks;
  });
}];
</code></pre>
    </section>
    <section id="object-model-conclusion">
      <h1>Object Model</h1>
      <ul>
        <li class="backbone">Simple inheritance</li>
        <li class="ember">A powerful Object Model</li>
        <li class="angular">Works with plain old JavaScript</li>
      </ul>
    </section>

    <!-- MVwhatever -->
    <section id="mv*">
      <h1>MVwhatever</h1>
    </section>
    <section id="mv*-intro">
      <h1>MVwhatever</h1>
      <ul>
        <li>Model</li>
        <li>View</li>
        <li><i class="icon-star-empty"></i>
          <ul>
            <li>Controller</li>
            <li>ViewModel</li>
            <li>Delegate</li>
            <li>...</li>
          </ul>
        </li>
      </ul>
    </section>
    <section id="model-backbone" class="backbone">
      <h1>Model</h1>
      <ul>
        <li>Mutators</li>
        <li>Events</li>
        <li>Sync</li>
        <li>Validation?!</li>
      </ul>
    </section>
    <section id="model-backbone-code" class="backbone">
<pre><code>var Task  = Backbone.Model.extend({
  defaults: {
    title: 'New Task'
  }
});
</code></pre>
    </section>
    <section id="view-backbone" class="backbone">
      <h1>View</h1>
      <ul>
        <li>A portion of DOM</li>
        <li>Event delegation</li>
        <li>Manage a model or collection</li>
        <li>
<pre><code>render: function() {
  return this;
}
</code></pre>
        </li>
      </ul>
    </section>
    <section id="view-backbone-code" class="backbone">
<pre><code>var <strong>HandlebarsView</strong> = Backbone.View.extend({
  render: function() {
    if (!_.isFunction(this.template)) {
      this.tmpl = Handlebars.compile(this.tmpl);
    }
    <strong>this.$el.html(this.tmpl(this.model||this.collection||{}));</strong>
    return this;
  }
});
</code></pre>
    </section>
    <section id="controller-backbone" class="backbone">
      <h1>Controller</h1>
      <ul>
        <li>No explicit controller</li>
        <li>Route actions &amp; views do the job</li>
      </ul>
    </section>
    <section id="controller-backbone-code" class="backbone">
<pre><code>var TaskFormView = HandlebarsView.extend({
  template: $('#task-form-template').html(),
  events: {
    'submit form': 'save'
  },
  save: function() {
    <strong>this.model.save</strong>({
      title: this.$('#title').val(),
      description: this.$('#description').val()
    }, {
      success: _.bind(function() {
        Backbone.history.navigate("#task/" +
          this.model.get('id'), true);
      }, this)
    });
    return false;
  }
});
</code></pre>
    </section>
    <section id="model-ember" class="ember">
      <h1>Model</h1>
      <ul>
        <li>Features of Ember.Object</li>
        <li>ActiveRecord like with ember-data</li>
      </ul>
    </section>
    <section id="view-ember" class="ember">
      <h1>View</h1>
      <ul>
        <li>String based templating with Handlebars</li>
        <li>Handle user interactions</li>
        <li>Event delegation</li>
        <li>Default implementation</li>
      </ul>
    </section>
    <section id="view-ember-code" class="ember">
<pre><code>
&lt;ul&gt;
  <strong>{{#each task in model}}</strong>
    &lt;li {{bindAttr class="task.active:active"}}&gt;
      &lt;h1&gt;
        <strong>{{#linkTo "tasks.show" task}}{{task.title}}{{/linkTo}}</strong>
      &lt;/h1&gt;
    &lt;/li&gt;
  <strong>{{/each}}</strong>
  &lt;li&gt;{{#linkTo "tasks.new"}}New task...{{/linkTo}}&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
    </section>
    <section id="controller-ember" class="ember">
      <h1>Controller</h1>
      <ul>
        <li>Decorate the model with display logic</li>
        <li>Templates are connected to controllers</li>
        <li>Default implementation</li>
      </ul>
    </section>
    <section id="model-angular" class="angular">
      <h1>Model</h1>
      <ul>
        <li>Plain JavaScript Objects</li>
        <li>ActiveRecord like with $resource</li>
      </ul>
    </section>
    <section id="model-angular-scope" class="angular">
      <h1>Scope</h1>
      <ul>
        <li>Glue between controller and view</li>
        <li>Refers to the model</li>
        <li>Responsible for two-way data binding</li>
      </ul>
    </section>
    <section id="view-angular" class="angular">
      <h1>View</h1>
      <ul>
        <li>DOM templating</li>
        <li>Transparent for the user</li>
        <li>Automatically compiled</li>
        <li>May seem a bit more rigid</li>
      </ul>
    </section>
    <section id="view-angular-code" class="angular">
<pre><code>&lt;ul&gt;
  &lt;li <strong>ng-repeat="task in tasks"</strong>
      ng-class="{active: task.active}"&gt;
    &lt;h1&gt;&lt;a href="#/tasks/<strong>{{task.id}}</strong>"&gt;<strong>{{task.title}}</strong>&lt;/a&gt;&lt;/h1&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;a href="#/tasks/new"&gt;New task...&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
    </section>
    <section id="controller-angular" class="angular">
      <h1>Controller</h1>
      <ul>
        <li>Written in JavaScript!</li>
        <li>Dependency Injection</li>
        <li>Application behavior</li>
        <li>Populates the scope</li>
      </ul>
    </section>
    <section id="controller-angular-code" class="angular">
      <div>
<pre><code class="javascript">var TaskDetailsCtrl = ['$scope', '$routeParams', 'Task',
  function(<strong>$scope, $routeParams, Task</strong>) {
    var task = Task.get({id: $routeParams.taskId},
      function(response) {
        <strong>$scope.task = response.task;</strong>
        Task.active($scope.task);
      }
    );
  }
];
</code></pre>
<pre><code>&lt;h1&gt;<strong>{{task.title}}</strong>&lt;/h1&gt;
&lt;p&gt;<strong>{{task.description}}</strong>&lt;/p&gt;
</code></pre>
      </div>
    </section>
    <section id="mv*-conclusion">
      <h1>MV*</h1>
      <ul>
        <li class="backbone">A basic structure</li>
        <li class="ember">A full MVC with string based templates</li>
        <li class="angular">Concisely embracing HTML &amp; DI</li>
      </ul>
    </section>

    <!-- Binding -->
    <section id="binding">
      <h1>Binding</h1>
    </section>
    <section id="binding-intro">
      <h1>Binding</h1>
      <ul>
        <li>Connecting object properties</li>
        <li>Data synchronization between data and view</li>
      </ul>
    </section>
    <section id="binding-demo">
      <div>
        <div><input type="text" ng-model="name" placeholder="Name..." /></div>
        <div>Hello <span></span>!</div>
      </div>
    </section>
    <section id="binding-backbone" class="backbone">
      <h1>Binding</h1>
      <ul>
        <li>No automatic binding</li>
        <li>Manual wiring through events</li>
      </ul>
    </section>
    <section id="binding-backbone-model-events" class="backbone">
      <h1>Model Events</h1>
      <ul>
        <li>change</li>
        <li>change:[attribute]</li>
        <li>destroy</li>
        <li>sync</li>
      </ul>
    </section>
    <section id="binding-backbone-collection-events" class="backbone">
      <h1>Collection Events</h1>
      <ul>
        <li>add</li>
        <li>remove</li>
        <li>reset</li>
        <li>sync</li>
      </ul>
    </section>
    <section id="binding-backbone-code" class="backbone">
      <div>
<pre><code class="javascript">var PromptView = Backbone.View.extend({
  events: { keyup: 'change' },
  render: function() {
    this.$el.html('&lt;input id="name" type="text" /&gt;');
    return this;
  },
  change: function() {
    <strong>this.model.set('name', this.$('#name').val());</strong>
  }
});
</code></pre>
<pre><code>var HelloView = Backbone.View.extend({
  initialize: function() {
    <strong>this.listenTo(this.model, 'change', this.render);</strong>
  },
  render: function() {
    this.$el.html('Hello ' + (this.model.get('name') || ''));
    return this;
  }
});
</code></pre>
      </div>
    </section>
    <section id="binding-ember" class="ember">
      <h1>Binding</h1>
      <ul>
        <li>Two way data-binding</li>
        <li>Built in the core of Ember.Object</li>
        <li>Handlebars + Metamorph</li>
      </ul>
    </section>
    <section id="binding-ember-metamorph" class="ember">
<pre><code class="html">&lt;ul&gt;
  <strong>&lt;script id="metamorph-0-start"&gt;&lt;/script&gt;</strong>
  <strong>&lt;script id="metamorph-2-start"&gt;&lt;/script&gt;</strong>
  &lt;li class="active" data-bindattr-1="1"&gt;
    &lt;h1&gt;
      &lt;a id="ember378" class="active" href="#/tasks/1"&gt;
        <strong>&lt;script id="metamorph-4-start"&gt;&lt;/script&gt;</strong>
        Task1
        <strong>&lt;script id="metamorph-4-end"&gt;&lt;/script&gt;</strong>
      &lt;/a&gt;
    &lt;/h1&gt;
  &lt;/li&gt;
  <strong>&lt;script id="metamorph-2-end"&gt;&lt;/script&gt;</strong>
  <strong>&lt;script id="metamorph-3-start"&gt;&lt;/script&gt;</strong>
  &lt;li class="" data-bindattr-2="2"&gt;...&lt;/li&gt;
  <strong>&lt;script id="metamorph-3-end"&gt;&lt;/script&gt;</strong>
  <strong>&lt;script id="metamorph-0-end"&gt;&lt;/script&gt;</strong>
  &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
    </section>
    <section id="binding-ember-code" class="ember">
      <div>
<pre><code class="javascript">var AppView = Ember.View.extend({
  template: $('#ember-binding-template').html()
});
</code></pre>
<pre><code>&lt;div&gt;<strong>{{input value="name"}}</strong>&lt;/div&gt;
&lt;div&gt;Hello {{name}}!&lt;/div&gt;
</code></pre>
      </div>
    </section>
    <section id="binding-angular" class="angular">
      <h1>Binding</h1>
      <ul>
        <li>Two way data-binding</li>
        <li>Managed by the Scope</li>
        <li>Working on plain JavaScript objects</li>
      </ul>
    </section>
    <section id="binding-angular-dirty-checking" class="angular">
      <h1>Dirty Checking</h1>
      <ul>
        <li>Angular execution context</li>
        <li>Entering digest loop after execution</li>
        <li>Search for modifications in scopes</li>
        <li>Precisely update the DOM accordingly</li>
      </ul>
    </section>
    <section id="binding-angular-code" class="angular">
<pre><code>&lt;div ng-app&gt;
  &lt;div&gt;&lt;input type="text" ng-model="name" /&gt;&lt;/div&gt;
  &lt;div&gt;Hello {{name}}!&lt;/div&gt;
&lt;/div&gt;
</code></pre>
    </section>
    <section id="binding-conclusion">
      <h1>Binding</h1>
      <ul>
        <li class="backbone">Fine grained control with manual wiring</li>
        <li class="ember">Metamorph can be disturbing</li>
        <li class="angular">Cost of Dirty Checking</li>
      </ul>
    </section>

    <!-- Routing -->
    <section id="routing">
      <h1>Routing</h1>
    </section>
    <section id="routing-intro">
      <h1>Routing &amp; Deep Linking</h1>
      <p>
        Associate an URL to a particular application state<br />
        Managing Single Page Application layouts?
      </p>
      <dl>
        <dt>http://example.com/#/tasks/1</dt>
        <dd>See details of the task with id 1</dd>
      </dl>
    </section>
    <section id="routing-backbone" class="backbone">
      <h1>Routing</h1>
      <ul>
        <li>Backbone.Router &amp; Backbone.History</li>
        <li>Simple pushState support</li>
        <li>A route <i class="icon-arrow-right"></i> A callback</li>
        <li>Manual layout and memory management</li>
      </ul>
    </section>
    <section id="routing-backbone-code-1" class="backbone">
<pre><code class="javascript">var TasksRouter = Backbone.Router.extend({
  routes: {
    '':                'index',
    'tasks':           'list',
    'task/new':        'create',
    'task/:id':        'show',
    'task/:id/edit':   'edit',
    'task/:id/remove': 'remove'
  },

  // ....
});
</code></pre>
    </section>
    <section id="routing-backbone-code-2"  class="backbone">
      <pre><code>show: function(id) {
  this.current(TaskDetailsView, id);
}
</code></pre>
    </section>
    <section id="routing-backbone-code-3" class="backbone">
<pre><code>current: function(viewClass, task) {
  if (!(task instanceof Task)) {
    var id = task;
    <strong>task = this.tasks.get(id);</strong>
    if (!task) {
      alert('The task with id ' + id + ' does not exist.');
      return this.navigate('#tasks', true);
    }
  }

  <strong>this.list();</strong>
  this.active(task);

  <strong>this.currentView = new viewClass({model: task});</strong>
  <strong>$('.task').html(this.currentView.render().el);</strong>
}
</code></pre>
    </section>
    <section id="routing-backbone-code-4" class="backbone">
<pre><code>list: function() {
  if (!this.tasksView||this.tasksView.$el.parent().size()===0) {
    <strong>this.tasksView = new TasksView({collection: this.tasks});</strong>
    <strong>$('#app').html(this.tasksView.render().el);</strong>
  }

  if (this.currentView) {
    <strong>this.currentView.remove();</strong>
  }

  this.active();
}
</pre></code>
    </section>
    <section id="routing-ember" class="ember">
      <h1>Routing</h1>
      <ul>
        <li>Router is first class citizen</li>
        <li>Router as a finite state machine</li>
        <li>Convention over Configuration</li>
      </ul>
    </section>
    <section id="routing-ember-code-1" class="ember">
<pre><code>Tasks.Router.map(function() {
  this.resource('tasks', function() {
    this.route('new', { path: '/new' });
    this.route('show', { path: '/:task_id' });
    this.route('edit', { path: '/:task_id/edit' });
    this.route('remove', { path: '/:task_id/remove' });
  });
});
</code></pre>
    </section>
    <section id="routing-ember-code-2" class="ember">
<pre><code>&lt;div class="tasks"&gt;
  &lt;ul&gt;
    {{#each task in model}}
      &lt;li {{bindAttr class="task.active:active"}}&gt;
        &lt;h1&gt;
          {{#linkTo "tasks.show" task}}
            {{task.title}}
          {{/linkTo}}
        &lt;/h1&gt;
      &lt;/li&gt;
    {{/each}}
    &lt;li&gt;{{#linkTo "tasks.new"}}New task...{{/linkTo}}&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
<strong>{{outlet}}</strong>
</code></pre>
    </section>
    <section id="routing-ember-code-3" class="ember">
<pre><code class="javascript">Tasks.TasksNewRoute = Ember.Route.extend({
  <strong>renderTemplate:</strong> function() {
    this.render('tasks/form');
  },
  <strong>model:</strong> function() {
    return Tasks.Task.createRecord({
      title: 'New Task',
      description: 'Desc'
    });
  },
  <strong>setupController:</strong> function(controller, task) {
    Tasks.Task.active(task);
    controller.set('content', task);
  },
  <strong>events:</strong> {
    save: function(task) {
      task.one('didCreate', this, function() {
        this.transitionTo('tasks.show', task);
      });
      this.get('store').commit();
    }
  }
});
</code></pre>
    </section>
    <section id="routing-angular" class="angular">
      <h1>Routing</h1>
      <ul>
        <li>Router looks to be second class citizen</li>
        <li>$router service to declare routes</li>
        <li>$routeParams service to get route parameters</li>
        <li>One directive: ng-view</li>
      </ul>
    </section>
    <section id="routing-angular-code" class="angular">
<pre><code>$routeProvider.
when('/tasks', {
  <strong>templateUrl: 'partials/tasks.html',</strong>
  <strong>controller: TasksCtrl</strong>
}).
when('/tasks/:taskId', {
  templateUrl: 'partials/tasks.html',
  controller: TasksCtrl,
  nested: {
    templateUrl: 'partials/task-details.html',
    controller: TaskDetailsCtrl
  }
}).
// ...
otherwise({redirectTo: '/tasks'});
</code></pre>
    </section>
    <section id="routing-conclusion">
      <h1>Routing</h1>
      <ul>
        <li class="backbone">Everything is possible but manual</li>
        <li class="backbone">Care must be given to memory management!</li>
        <li class="ember">A smart routing system for SPA</li>
        <li class="angular">The router needs improvements</li>
      </ul>
    </section>

    <!-- Server API -->
    <section id="api">
      <h1>Server API</h1>
    </section>
    <section id="api-intro">
      <h1>Server API</h1>
      <ul>
        <li>RESTful API</li>
        <li>Flexibility</li>
        <li>Ease of implementation</li>
      </ul>
    </section>
    <section id="api-backbone" class="backbone">
      <h1>Backbone Sync</h1>
      <ul>
        <li>Based on $.ajax</li>
        <li>Sane defaults for a RESTful API</li>
        <li>Easily customizable</li>
      </ul>
    </section>
    <section id="api-backbone-code-1" class="backbone">
<pre><code>var Tasks = Backbone.Collection.extend({
  model: Task,
  <strong>url:   'http://localhost:3000/tasks',</strong>
  parse: function(response) {
    return response.tasks;
  }
});
</code></pre>
    </section>
    <section id="api-backbone-code-2" class="backbone">
<pre><code>save: function() {
  <strong>this.model.save</strong>({
    title: this.$('#title').val(),
    description: this.$('#description').val()
  }, {
    success: _.bind(function() {
      Backbone.history.navigate("#task/" + this.model.get('id'), true);
    }, this)
  });
  return false;
}
</code></pre>
    </section>
    <section id="api-ember" class="ember">
      <h1>Ember Data</h1>
      <ul>
        <li>ActiveRecord like</li>
        <li>Mapping, Relationships &amp; Transactions!</li>
        <li>Different adapters</li>
        <li>Lifecycle events</li>
        <li>Still in active development</li>
      </ul>
    </section>
    <section id="api-ember-code" class="ember">
<pre><code>save: function(task) {
  <strong>task.one('didCreate', this, function() {</strong>
    this.transitionTo('tasks.show', task);
  });
  <strong>this.get('store').commit();</strong>
}
</code></pre>
    </section>
    <section id="api-angular" class="angular">
      <h1>$http &amp; $resource</h1>
      <ul>
        <li>$http for low level sync</li>
        <li>$resource for high level sync</li>
        <li>Testability: benefits from DI</li>
        <li>Communication with the API is customizable</li>
        <li>Custom response parsing needs little tricks</li>
      </ul>
    </section>
    <section id="api-angular-code" class="angular">
<pre><code class="javascript">module.factory('Task', ['$resource', function($resource) {
  var resource = <strong>$resource('http://localhost\\:3000/tasks/:id'</strong>, {}, {
    query: {method: 'GET', isArray: false}
  });
]);

var TaskNewCtrl = ['$scope', '$location', <strong>'Task'</strong>,
  function($scope, $location, <strong>Task</strong>) {
    var task = <strong>new Task</strong>({
      title: 'New Task',
      description: 'Desc'
    });
    $scope.task = task;

    $scope.save = function() {
      <strong>this.task.$save</strong>(function(t) {
        $location.path('/tasks/' + t.id);
      });
    };
  }
];
</code></pre>
    </section>
    <section id="api-conclusion">
      <h1>Server API</h1>
      <ul>
        <li class="backbone">Easily customizable</li>
        <li class="ember">Powerful but not yet mature (promises)</li>
        <li class="angular">Testability: takes advantage of DI</li>
      </ul>
    </section>

    <!-- Components -->
    <section id="components">
      <h1>Components</h1>
    </section>
    <section id="components-intro">
      <h1>Components</h1>
      <ul>
        <li>Writing reusable components</li>
        <li>Included components</li>
      </ul>
    </section>
    <section id="components-backbone" class="backbone">
      <h1>Components</h1>
      <ul>
        <li>No explicit notion of component</li>
        <li>Expose Backbone Views</li>
        <li>Manage their attachment to the DOM manually</li>
      </ul>
    </section>
    <section id="components-ember" class="ember">
      <h1>Components</h1>
      <ul>
        <li>Components are just views</li>
        <li>Nesting via the view helper</li>
        <li>Built-in components</li>
        <li>Dedicated handlebars plugins</li>
      </ul>
    </section>
    <section id="components-ember-code" class="ember">
<pre><code>
&lt;form {{action save model on="submit"}}&gt;
  &lt;div&gt;
    <strong>{{input value="title" placeholder="Title"}}</strong>
  &lt;/div&gt;
  &lt;div&gt;
    <strong>{{textarea value="description" placeholder="Description"}}</strong>
  &lt;/div&gt;
  ...
&lt;/form&gt;
</code></pre>
    </section>
    <section id="components-angular" class="angular">
      <h1>Directives</h1>
      <ul>
        <li>Custom HTML elements!</li>
        <li>
          Powerful but complex notions:
          <ul>
            <li>Scope: @ = &amp;</li>
            <li>Require: ? ^</li>
            <li>Restrict: E A C M</li>
            <li>Transclude</li>
          </ul>
        </li>
        <li>Lot of included directives</li>
        <li>Enhancing standard HTML elements</li>
      </ul>
    </section>
    <section id="components-conclusion">
      <h1>Components</h1>
      <ul>
        <li class="backbone">Components can just be custom views</li>
        <li class="ember">Nested view helper and Handlebars plugins</li>
        <li class="angular">Directives: a way to teach HTML new tricks</li>
      </ul>
    </section>

    <!-- Testability -->
    <section id="testability">
      <h1>Testability</h1>
    </section>
    <section id="testability-backbone" class="backbone">
      <h1>Testability</h1>
      <ul>
        <li>Everything is explicit</li>
        <li>Control helps testability</li>
        <li>Lot of manual code =&gt; lot of tests</li>
      </ul>
    </section>
    <section id="testability-ember" class="ember">
      <h1>Testability</h1>
      <ul>
        <li>Good design encourages testability</li>
        <li>But testing is not yet highlighted</li>
        <li>Conventions can make it difficult to Unit Test</li>
      </ul>
    </section>
    <section id="testability-angular" class="angular">
      <h1>Testability</h1>
      <ul>
        <li>Testing is highly encouraged and promoted</li>
        <li>Tests are everywhere in the documentation</li>
        <li>Unit Tests &amp; End-to-End tests</li>
        <li>Angular Scenario Runner &amp; Karma</li>
      </ul>
    </section>

    <!-- Ecosystem -->
    <section id="ecosystem">
      <h1>Ecosystem</h1>
    </section>
    <section id="ecosystem-backbone" class="backbone">
      <h1>Ecosystem</h1>
      <ul>
        <li>Easy to learn</h1>
        <li>Easy to get familiar with its codebase</li>
        <li>The most widespread</li>
        <li>More than one way to do things</li>
      </ul>
    </section>
    <section id="ecosystem-backbone-frameworks" class="backbone">
      <h1>A backbone</h1>
      <ul>
        <li>Spine</li>
        <li>Thorax</li>
        <li>Marionette.js</li>
        <li>RESThub Backbone</li>
      </ul>
    </section>
    <section id="ecosystem-ember" class="ember">
      <h1>Ecosystem</h1>
      <ul>
        <li>Nice API documentation and guides</li>
        <li>Great Stack Overflow community</li>
        <li>Ember Chrome Extension</li>
        <li>Lack of full tutorials</li>
        <li>Some outdated resources</li>
      </ul>
    </section>
    <section id="ecosystem-angular" class="angular">
      <h1>Ecosystem</h1>
      <ul>
        <li>Powered (and controlled?) by Google</li>
        <li>Rich documentation, guides and tutorials</li>
        <li>Batarang: Angular extension for Chrome</li>
        <li>AngularUI</li>
      </ul>
    </section>

    <section id="conclusion">
      <h1>Conclusion</h1>
    </section>
    <section id="conclusion-backbone" class="backbone">
      <h1>Backbone</h1>
      <ul>
        <li><i class="icon-thumbs-up"></i> Great foundation</li>
        <li><i class="icon-thumbs-up"></i> Control everything</li>
      </ul>
      <ul>
        <li><i class="icon-thumbs-down"></i> Few features</li>
        <li><i class="icon-thumbs-down"></i> A lot of manual work to take care of</li>
      </ul>
    </section>
    <section id="conclusion-ember" class="ember">
      <h1>Ember</h1>
      <ul>
        <li><i class="icon-thumbs-up"></i> Very ambitious: lot of features</li>
        <li><i class="icon-thumbs-up"></i> A router suited to SPA</li>
      </ul>
      <ul>
        <li><i class="icon-thumbs-down"></i> A long journey to the stable release</li>
        <li><i class="icon-thumbs-down"></i> Too ambitious?</li>
      </ul>
    </section>
    <section id="conclusion-angular" class="angular">
      <h1>Angular</h1>
      <ul>
        <li><i class="icon-thumbs-up"></i> Embracing HTML and the future of the Web</li>
        <li><i class="icon-thumbs-up"></i> Great documentation and focus on testing</li>
      </ul>
      <ul>
        <li><i class="icon-thumbs-down"></i> A limited Router</li>
        <li><i class="icon-thumbs-down"></i> Some advanced concepts</li>
      </ul>
    </section>

    <section id="questions">
      <h1>Thanks! Questions?</h1>
    </section>
  </div>

  <script src="components/jquery/jquery.min.js"></script>
  <script src="components/keymaster/keymaster.min.js"></script>
  <script src="components/hammerjs/dist/hammer.min.js"></script>
  <script src="js/libs/highlight.min.js"></script>
  <script src="js/presentation.js"></script>

  <script src="js/mixit.js"></script>
</body>
</html>
